<configuration debug="true" scan="false">
     <appender
                name="LOGCAT"
                class="ch.qos.logback.classic.android.LogcatAppender" >
                <tagEncoder>
                    <pattern>%logger{0}</pattern>
                </tagEncoder>
        <encoder>
         		<!-- <pattern>[%method] > %msg%n</pattern> -->
			<pattern>%-5level %-36logger{36}: %msg%n</pattern>
		</encoder>

		<filter class="com.geeksville.logback.MuteAllFilter" />
				
	</appender>

	<!-- <logger name="play" level="INFO" /> <logger name="application" level="DEBUG" 
		/> -->

  <!-- See all our log msgs -->
  <logger name="com.geeksville" level="DEBUG"/>
  
  <!-- But ignore debug msgs from others -->
  <root level="info">
    <appender-ref ref="LOGCAT" />
  </root>

</configuration>
