[project]
	description = An android ground controller (and other things) for Mavlink/Arduplane
[access "refs/*"]
	owner = group user/Kevin Hester (geeksville)
[access "refs/for/refs/*"]
	read = group user/Kevin Hester (geeksville)
	push = group user/Kevin Hester (geeksville)
	label-Code-Review = -2..+2 group user/Kevin Hester (geeksville)
	label-Verified = -1..+1 group user/Kevin Hester (geeksville)
	rebase = group user/Kevin Hester (geeksville)
	removeReviewer = group user/Kevin Hester (geeksville)
	submit = group user/Kevin Hester (geeksville)
[access "refs/heads/*"]
	read = group user/Kevin Hester (geeksville)
	create = group user/Kevin Hester (geeksville)
	push = +force group user/Kevin Hester (geeksville)
	pushMerge = group user/Kevin Hester (geeksville)
[access "refs/tags/*"]
	push = +force group user/Kevin Hester (geeksville)
	pushTag = group user/Kevin Hester (geeksville)
	pushSignedTag = group user/Kevin Hester (geeksville)
