!!!! 5
/ Proof of concept for the checklist UI
%html
  %head
    %title Drone Checklist
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    / Bootstrap
    %link(href="css/bootstrap.min.css" rel="stylesheet" media="screen")
  %body
    %h1 Hello, world!
    %script(src="js/jquery.js")
    %script(src="js/bootstrap.min.js")

